{% extends '::base.html.twig' %}

{% form_theme form ":file/forms:form_theme_file_upload.html.twig" %}

{% block body %}
    <div class="container">
        <div class="page-header">
            <h1>File creation</h1>
        </div>

        {{ form(form) }}


        <hr>
        <ul>
            <a href="{{ path('files_index') }}" class="btn btn-primary">Back to the list</a>

        </ul>
    </div>


{% endblock %}

{% block javascript_footer %}
    <script src="{{ asset('js/fileupload.js') }}"></script>
{% endblock %}


