{% extends '::base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="page-header">
            <h1>File creation</h1>
        </div>


        {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" class="btn btn-primary" value="Create" />
        {{ form_end(form) }}

        <ul>

                <a href="{{ path('files_index') }}" class="btn btn-primary pull-right">Back to the list</a>

        </ul>
    </div>

{% endblock %}
