{% extends "AppBundle::base.html.twig" %}

{% block title_page %}
    {{ "app.homepage.title"|trans }}
{% endblock %}

{% block body %}
    <div class="container">
        <div class="jumbotron">
            <p>Votre paiement à bien été effectué !</p>
            <p>Votre solde s'élève maintenant à : {{ app.user.transcodetime|date("G:i:s") }}</p>
        </div>
        <a href="{{ path("files_index") }}" class="btn btn-primary">Retour</a>


    </div>

{% endblock %}